{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
    </div>

        <hr>

    <div id="footer">
        Desenvolvido por <a href="http://www.charlessartori.com" target="_blank">Charles Sartori</a>, utilizando <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap.</a>
        <a href="http://smallactsmanifesto.org" title="Small Acts Manifesto" target='_blank'><img src="http://smallactsmanifesto.org/media/images/smallacts-badge-80x15.png" style="border: none;" alt="Small Acts Manifesto" /></a>
    </div>
{% endblock content %}