{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ package_form.as_p }}

    <hr>

        {{ formset.management_form }}
        {% for form in formset.forms %}
            <div class="item">
                {{ form.as_p }}
            </div>
        {% endfor %}
    <input type="submit" value="{% trans "submit" %}"/>
    </form>
{% endblock content %}