{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset.forms %}
            <div class="item">
                {{ form.as_p }}
            </div>
        {% endfor %}

        <input type="submit" value="{% trans "submit" %}"/>
    </form>
    <p><a id="add" href="#">Add another item</a></p>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    $(function(){
        var step = 5;
        myForm(step);
    });
    </script>

{% endblock extrajs %}