{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block top %}

{% endblock top %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
    <form action="" method="post">{% csrf_token %}
            <ul class="nav nav-tabs">
              <li><a>1. Account</a></li>
              <li class="active"><a>2. Packages</a></li>
              <li><a>3. Contacts</a></li>
            </ul>
            <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    <div class="item">
                      {% for field in form %}
                            <div class="control-group {% if field.errors %} error {% endif %}">
                                <div class="control-label">
                                    {% if field.label != 'Id' %}
                                        {{ field.label_tag }}
                                    {% endif %}
                                </div>
                                <div class="controls">
                                    {% if field.label == 'Id' and field.value %}
                                        <a class="float-right" href="{% url 'package_edit' field.value %}">Add Prices</a>
                                    {% endif %}
                                    {{ field }}
                                    {% if field.errors %}
                                    <span class="help-inline">{{ field.errors|join:", " }}</span>
                                    {% endif %}
                                    {% if field.help_text %}
                                        <p class="help-block">{{ field.help_text }}</p>
                                    {% endif %}
                                </div>
                            </div>
                      {% endfor %}
{#                      <p style=""><a class="delete" href="#">Delete</a></p>#}
                    <hr>
                    </div>

                {% endfor %}
                <p><a id="add" href="#">Add another item</a></p>
            {% else %}
                {{ wizard.form }}
            {% endif %}
            </table>
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="{% trans "next step" %}"/>
    </form>
    </div>

        <hr>

    <div id="footer">
        Desenvolvido por <a href="http://www.charlessartori.com" target="_blank">Charles Sartori</a>, utilizando <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap.</a>
        <a href="http://smallactsmanifesto.org" title="Small Acts Manifesto" target='_blank'><img src="http://smallactsmanifesto.org/media/images/smallacts-badge-80x15.png" style="border: none;" alt="Small Acts Manifesto" /></a>
    </div>


{% endblock content %}

{% block extrajs %}
    <script type="text/javascript">
    $(function(){
        var step = {{ wizard.steps.step1 }};
        myForm(step);
    });
    </script>

{% endblock extrajs %}